{% extends 'shared/layout.html' %}

{% block maincontent %}
<p>Chat</p>

<div id='chat' contenteditable>    
</div>

<!-- Input for message, a send chat and a leave chat button  -->
<textarea id="message" title="message" placeholder="Enter your message here"></textarea>
<button id="send">Send Message</button>
<button id="leave">Leave Chat</button>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='main/js/chat.js') }}" defer></script>
{% endblock %}
